.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
/vendor/bundle
test/dummy/vendor/bundle
tags
tmp/
.sass-cache/
*.tmproj
/config/database.yml
/vendor/bundle
.idea
*.iml
*.ipr
db/schema.rb
public/system
.DS_Store
/db/sphinx
public/assets/
*.swp
/tags
/non-public
.powenv
public/uploads

